# Build output
dist/
.astro/

# Dependencies
node_modules/

# Logs
npm-debug.log*

# Editor
.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
